:root {
    --base-clr: #ffffff;
    --line-clr: #42434a;
    --hover-clr: #f4f4f4;
    --text-clr: #000000;
    --accent-clr: #aac2e3;
    --secondary-clr: #b0b3c1;
}



* {
    margin: 0;
    padding: 0;

}

body {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--base-clr);
    color: var(--text-clr);
    display: grid;
    grid-template-columns: auto 1fr;

}


#sidebar {
    box-sizing: border-box;
    height: 100vh;
    width: 300px;
    padding: 5px 1em;
    background: var(--base-clr);
    border-right: 1px solid var(--line-clr);
    position: sticky;
    top: 0;
    align-self: start;
    transition: 300ms ease-in-out;
    overflow: hidden;
    text-wrap: nowrap;
}


#sidebar.close {
    padding: 5px;
    width: 60px;
    ul .non{
        display: none;
    }
    

}

#sidebar ul {
    list-style: none;
}


#sidebar>ul>li:first-child {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;

    .logo {
        font-weight: 500;
        font-size: 19px;
    }

}

#sidebar ul li.active a {
    color: var(--accent-clr);

    svg {
        fill: var(--accent-clr);
    }
}


#sidebar a,
#sidebar .dropdown-btn,
#sidebar .logo {
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: var(--text-clr);
    display: flex;
    align-items: center;
    gap: 1em;



}

.dropdown-btn {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

#sidebar svg {
    flex-shrink: 0;
    fill: var(--text-clr);


}

#sidebar a span,
#sidebar .droupdown-btn span {
    flex-grow: 1;


}

#sidebar a:hover,
#sidebar .dropdown-btn:hover {
    /* background-color: var(--hover-clr); */
    border: 1px solid var(--hover-clr);
}

#sidebar .sub-menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;

    >div {
        overflow: hidden;
    }
}



#sidebar .sub-menu.show {
    grid-template-rows: 1fr;
}


main {
    padding: min(30px, 7%);
}

main p {
    color: var(--secondary-clr);
    margin-top: 5px;
    margin-bottom: 15px;

}

.container {
    border: 1px solid var(--line-clr);
    border-radius: 1em;
    margin-bottom: 20px;
    padding: min(3em, 15%);

    h2,
    p {
        margin-top: 1em
    }

}

.rotate svg:last-child {
    rotate: 180deg;


}


#sidebar .sub-menu a {
    padding-left: 2em;

}

#toggle-btn {
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;




    svg {
        transition: rotate 150ms ease;
    }
}


#toggle-btn:hover {
    background-color: var(--hover-clr);
}



.video {
    width: 100%;
    height: 740px;
    background-color: #d0d0d0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.video::before {
    content: '▶';
    font-size: 50px;
    color: rgb(0, 128, 255);
}

.learning-track {
    margin-bottom: 20px;
}
.learning-track h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.learning-track .track {
    background-color: #7fccff;
    padding: 10px;
    border-radius: 5px;
}

.playlist-item {
    background-color:#fdfdfd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }

  .playlist-title {
    font-weight: 500;
  }

  .playlist-duration {
    font-size: 12px;
    color: #888;
  }

  .sub-menu div a{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .sub-menu .sub-item{
    padding: 1rem;
  }

  .non a{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-bottom: 8px;
    margin-top: 8px;
  }