body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
}

:root{
    --bg-color: #ffffff;
    --text-color: #22100d;
    --second-color:#685f78;
    --main-color: #027bfe;
    --big-font:3.4rem;
    --h2-font:2.6rem;
    --p-font:1.1rem;
  }

  *{
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
    }

#nav1{
    margin-left: 10px;
  }
  
  #nav2{
    margin-left: 220px;
  }
  
  #nav2 li a,#nav3 li a{
    font-weight: 500;
    font-size: var(--p-font);
  }
  
  .endnav2{
    background-color: var(--main-color);
    border-radius: 15px;
  }
  .endnav2 li a{
    margin-left: 10px;
    color: var(--bg-color);
  }
  .endnav2 li a:hover{
    color: rgb(194, 222, 247);
  }

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.icon {
    font-size: 60px;
    color: #333;
    margin-bottom: 20px;
}

.icon i {
    margin-right: 10px;
}

.rate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .rating {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
      }

      .rating i {
        color: #ffc107;
        font-size: 20px;
        margin: 0 5px;
      }

      .rating i.inactive {
        color: #ccc;
      } */



.rating>input {
    display: none;
}

.rating>label::before {
    content: '\f005';
    font-family: fontawesome;
    margin: 5px;
    font-size: 1.5rem;
    display: inline-block;
    cursor: pointer;


}

.rating>.half::before {
    content: '\f089';
    position: absolute;


}

.rating>label {
    color: #ddd;
    float: right;
    transform: 2s;

}

.rating>input:checked~label,
.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: gold;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0062cc;
}